<div class="green-rectangle"></div>
<section class="container section" [style.min-height.px]="screenHeight - 52">
  <header class="header">
    <img class="logo" src="assets/svg/lua-logo-rectangular.svg">
    <div class="menu">
      <ul>
        <li>
          <a href="#luaServices">
            service
          </a>
        </li>
        <li>
          <a>
            contact
          </a>
        </li>
      </ul>
    </div>
  </header>
  <div class="professional-info">
    <div class="about-me">
      <h2>
        aboutMe
      </h2>
      <p [innerHTML]="'aboutMeText1'"></p>
      <p [innerHTML]="'aboutMeText2'"></p>
      <p [innerHTML]="'aboutMeText3'"></p>
    </div>
    <div class="lua-picture"></div>
  </div>
</section>
<app-lua-services id="luaServices" [style.min-height.px]="screenHeight - 52"></app-lua-services>
